
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 30px;
}


.destinations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


article {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}


article a {
    display: block;
    flex-shrink: 0; 
}

article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}


article h3 {
    margin: 15px 0 10px;
    flex-grow: 0; /
}

article p {
    margin-bottom: 10px;
    color: #555;
    flex-grow: 1; /* Le texte prend l'espace restant */
    display: flex;
    align-items: flex-start; /* Aligne le texte en haut */
}


.reservation-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
}

button {
    padding: 10px;
    background: #0078ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #005fcc;
}
