body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.destinations{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes par ligne */
    gap: 25px;
}

/* Carte uniforme avec flex pour aligner image et texte */
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-height: 350px; /* même hauteur pour toutes les cartes */
}

article img {
    width: 100%;
    height: 180px; /* même hauteur pour toutes les images */
    object-fit: cover; /* image recadrée si nécessaire */
    border-radius: 5px;
    transition: transform 0.3s;
}

article img:hover {
    transform: scale(1.05);
}

.reservation-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
}

button {
    padding: 10px;
    background: #0078ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}